USE [BlocklistDb]
GO
/****** Object:  Table [dbo].[FileType]    Script Date: 19/12/2024 11:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FileType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FileType](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_FileType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
GRANT DELETE ON [dbo].[FileType] TO [public] AS [dbo]
GO
GRANT INSERT ON [dbo].[FileType] TO [public] AS [dbo]
GO
GRANT REFERENCES ON [dbo].[FileType] TO [public] AS [dbo]
GO
GRANT SELECT ON [dbo].[FileType] TO [public] AS [dbo]
GO
GRANT UPDATE ON [dbo].[FileType] TO [public] AS [dbo]
GO
/****** Object:  Table [dbo].[RemoteSite]    Script Date: 19/12/2024 11:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RemoteSite]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RemoteSite](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SiteUrl] [nvarchar](255) NOT NULL,
	[FileUrls] [nvarchar](4000) NOT NULL,
	[FileTypeID] [int] NOT NULL,
	[LastDownloaded] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[MinimumIntervalMinutes] [int] NOT NULL,
 CONSTRAINT [PK_RemoteSite] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
GRANT DELETE ON [dbo].[RemoteSite] TO [public] AS [dbo]
GO
GRANT INSERT ON [dbo].[RemoteSite] TO [public] AS [dbo]
GO
GRANT REFERENCES ON [dbo].[RemoteSite] TO [public] AS [dbo]
GO
GRANT SELECT ON [dbo].[RemoteSite] TO [public] AS [dbo]
GO
GRANT UPDATE ON [dbo].[RemoteSite] TO [public] AS [dbo]
GO
INSERT [dbo].[FileType] ([ID], [Name], [Description]) VALUES (1, N'TXT', N'Single column text file listing IP addresses')
INSERT [dbo].[FileType] ([ID], [Name], [Description]) VALUES (2, N'JSON', N'Json')
INSERT [dbo].[FileType] ([ID], [Name], [Description]) VALUES (3, N'XML', N'XML')
GO
SET IDENTITY_INSERT [dbo].[RemoteSite] ON 

INSERT [dbo].[RemoteSite] ([ID], [Name], [SiteUrl], [FileUrls], [FileTypeID], [LastDownloaded], [Active], [MinimumIntervalMinutes]) VALUES (1, N'Feodo', N'https://feodotracker.abuse.ch', N'https://feodotracker.abuse.ch/downloads/ipblocklist_recommended.json, https://feodotracker.abuse.ch/downloads/ipblocklist.json', 2, CAST(N'2024-12-13T12:58:41.9912924' AS DateTime2), 1, 0)
INSERT [dbo].[RemoteSite] ([ID], [Name], [SiteUrl], [FileUrls], [FileTypeID], [LastDownloaded], [Active], [MinimumIntervalMinutes]) VALUES (2, N'MyIP', N'https://myip.ms', N'https://myip.ms/files/blacklist/general/latest_blacklist.txt', 9, CAST(N'2024-12-18T10:00:57.1072942' AS DateTime2), 1, 0)
INSERT [dbo].[RemoteSite] ([ID], [Name], [SiteUrl], [FileUrls], [FileTypeID], [LastDownloaded], [Active], [MinimumIntervalMinutes]) VALUES (3, N'FireHOL Level 3', N'https://raw.githubusercontent.com/firehol', N'https://raw.githubusercontent.com/firehol/blocklist-ipsets/master/firehol_level3.netset', 1, CAST(N'2024-12-18T10:00:43.6789527' AS DateTime2), 1, 0)

SET IDENTITY_INSERT [dbo].[RemoteSite] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RemoteSite_Name]    Script Date: 19/12/2024 11:39:48 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RemoteSite]') AND name = N'IX_RemoteSite_Name')
CREATE UNIQUE NONCLUSTERED INDEX [IX_RemoteSite_Name] ON [dbo].[RemoteSite]
(
	[Name] ASC,
	[SiteUrl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_RemoteSite_Name]    Script Date: 19/12/2024 11:39:48 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RemoteSite]') AND name = N'UC_RemoteSite_Name')
CREATE UNIQUE NONCLUSTERED INDEX [UC_RemoteSite_Name] ON [dbo].[RemoteSite]
(
	[Name] ASC
)
INCLUDE([ID],[SiteUrl],[FileUrls],[FileTypeID],[LastDownloaded],[Active]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_RemoteSite_SiteUrl]    Script Date: 19/12/2024 11:39:48 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RemoteSite]') AND name = N'UC_RemoteSite_SiteUrl')
CREATE UNIQUE NONCLUSTERED INDEX [UC_RemoteSite_SiteUrl] ON [dbo].[RemoteSite]
(
	[SiteUrl] ASC
)
INCLUDE([ID],[Name],[FileUrls],[FileTypeID],[LastDownloaded],[Active],[MinimumIntervalMinutes]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_RemoteSite_Active]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RemoteSite] ADD  CONSTRAINT [DF_RemoteSite_Active]  DEFAULT ((1)) FOR [Active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_RemoteSite_MinimumIntervalHours]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RemoteSite] ADD  CONSTRAINT [DF_RemoteSite_MinimumIntervalHours]  DEFAULT ((30)) FOR [MinimumIntervalMinutes]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RemoteSite_FileType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RemoteSite]'))
ALTER TABLE [dbo].[RemoteSite]  WITH CHECK ADD  CONSTRAINT [FK_RemoteSite_FileType] FOREIGN KEY([FileTypeID])
REFERENCES [dbo].[FileType] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RemoteSite_FileType]') AND parent_object_id = OBJECT_ID(N'[dbo].[RemoteSite]'))
ALTER TABLE [dbo].[RemoteSite] CHECK CONSTRAINT [FK_RemoteSite_FileType]
GO
